@import "../../../css-config/mixins.scss";

.category-section {
  padding: 107px 154px;
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 38px;
      font-weight: 700;
      color: #222222;
    }
    .view-all-btn {
      color: #787878;
      font-size: 16px;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .category-body {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
}
